<%= javascript_pack_tag 'add_remove_answer.js' %>

<%= form_with(model: @question, url: [@course, @testing, @question]) do |f| %>
  <div class="form-group">
    <%= f.label :question %>
    <%= f.text_field :question, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.rich_text_area :content, class: 'editor' %>
  </div>

  <div class="form-group">
    <%= f.label :type_question %>
    <%= f.select :type_question, [['radio'], ['input'], ['check']], class: "form-select"  %>
  </div>

  <br>
  <%= link_to_add_input_answer('add input answer', f, :answers, class: 'btn btn-success') %> |
  <%= link_to_add_radio_answer('add radio answer', f, :answers, class: 'btn btn-success') %> |
  <%= link_to_add_check_answer('add check answer', f, :answers, class: 'btn btn-success') %> |

<!--  <button class="btn btn-info btn-sm">Add input answer &#8595</button>-->
<!--  <button class="btn btn-info btn-sm">Add radio answer &#8595</button>-->
<!--  <button class="btn btn-info btn-sm">Add check answer &#8595</button>-->

  <br><br>
  <table class="table">
    <tbody class="fields">
    <%= f.simple_fields_for :answers do |builder| %>
        <%= render 'radio_answer', f: builder %>
    <% end %>
    </tbody>
  </table>
  <br>
  <div class="form-actions">
    <%= f.submit t('.submit', action: @question.new_record? ? t('common.create') :  t('common.edit')), class: 'btn btn-success' %>
  </div>
<% end %>