<div align="right">
  <%= link_to 'Back to Course', course_path(@course), class: "btn btn-outline-info btn-sm" %>
  <% if author?(@course) %>
     <%= link_to 'Edit', edit_course_lecture_path(@course), class: "btn btn-outline-warning btn-sm" %>
  <% end %>
</div>

<h3> <%= @lecture.title %></h3>
<h5>
  Description: <%= @lecture.description %>
</h5>
<div>
  <%= @lecture.content %>
</div>

<div align="right">
  <% if !author?(@course) %>
    <% if !@readed.present? %>
       <%= link_to 'Next', readed_course_lecture_path(@course, @lecture), method: :post, class: "btn btn-outline-info btn-sm" %>
    <% end %>
  <% end %>
</div>
