<div align="right">
  <%= link_to 'Back to Course', course_path(@course) %>
  <% if @course.users.include? current_user %>
  | <%= link_to 'Edit', edit_course_lecture_path(@course) %>
  <% end %>
</div>

<h3> <%= @lecture.title %></h3>
<h5>
  Description: <%= @lecture.description %>
</h5>
<div>
  <%= @lecture.content %>
</div>

<div align="right">
  <% if !@course.users.include? current_user %>
  | <%= link_to 'Next', readed_course_lecture_path(@course,@lecture), method: :post, class: "btn btn-outline-info btn-sm" %>
  <% end %>
</div>
