<div class="row pb-3">
  <div class="col-11">
    <%= link_to 'Back to Main', course_path(@course), class: "btn btn-outline-info btn-sm", style: "color: black;" %>
  </div>
  <% if can? :update, @course %>
    <div class="col-1" align="right">
      <%= link_to edit_course_lecture_path(@course), class: "btn-outline-warning btn-sm", style: "color: black; text-decoration: none; " do %>
        &#9999
      <% end %>
    </div>
  <% end %>
</div>


<h3 align="center"> <%= @lecture.title %></h3>
<h5>
  Description: <%= @lecture.description %>
</h5>
<div>
  <%= @lecture.content %>
</div>

<div align="right">
  <% if !author?(@course) %>
    <% if !@readed.present? %>
       <%= link_to 'Next', readed_course_lecture_path(@course, @lecture), method: :post, class: "btn btn-outline-info btn-sm" %>
    <% end %>
  <% end %>
</div>
