<div align="right">
  <%= link_to 'Back to Course', course_path(@course) %> |
  <%= link_to 'Edit', edit_course_lecture_path(@course) %>
</div>

<h3> <%= @lecture.title %></h3>
<h5>
  Description: <%= @lecture.description %>
</h5>
<div>
  <%= @lecture.content %>
</div>

