<div class="pb-3">
  <%= link_to 'Admin Panel', admins_path, class: 'btn btn-info' %>
  <%= link_to 'Users', users_admins_path, class: 'btn btn-info' %>
  <%= link_to 'Courses', courses_admins_path, class: 'btn btn-info' %>
<%#= link_to 'Roles', roles_path, class: 'btn btn-info' %>
  <%= link_to 'Organizations', organizations_admins_path, class: 'btn btn-info' %>
</div>

<i>Applications for registration of an organization.</i>
<div class="pt-3">

<table class="table table-striped" style="margin-top: 5px;">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Status</th>
    <th scope="col">Requester</th>
    <th scope="col">Purpose</th>
    <th scope="col">Actions</th>
    <th scope="col">Confirm registration</th>
  </tr>
  </thead>
  <tbody>
  <% @request_organizations.each_with_index do |org, index| %>
    <tr>
      <td> <%= index + 1 %></td>
      <td><%=  org.id %></td>
      <td>
        <div>
          <%= link_to org.title, organization_path(org), style: "color: black"%>
          <i class="icon fas fa-info-circle" data-toggle="modal" data-target="#myModalDescription" title="Description"></i>
        </div>
        <div class="modal" id="myModalDescription">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Description</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <p><%=org.description %></p>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </td>
      <td><%= org.status %></td>
      <td><%= org.user.email %></td>
      <td align="center">
        <i class="icon far fa-caret-square-up" data-toggle="modal" data-target="#myModalPurpose" title="Show"></i>
        <div class="modal" id="myModalPurpose">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Purposes</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <p><%=org.purpose %></p>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </td>
      <td>
        <%= link_to organization_path(org), style: "color: black;" do %>
          <i class="icon fas fa-tv"></i>
        <% end %>
        <%= link_to edit_organization_path(org ),  style: "color: black;" do %>
          <i class="icon far fa-edit"></i>
        <% end %>
        <%= link_to organization_path(org),
                    method: :delete, data: { confirm: 'Are you sure?' }, style: "color: black;" do %>
          <i class="icon fas fa-trash-alt"></i>
        <% end %>

    <td>
      <%= link_to "Confirm", response_to_request_organization_path(org, response_status: 'confirmed'),method: :patch, class: 'btn btn-success btn-sm' %>
      <%= link_to "Reject", response_to_request_organization_path(org,response_status: 'rejected'), method: :patch, class: 'btn btn-warning btn-sm' %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<hr>
<br>
<h3>Organizations:</h3>
<div>
  <%= form_tag organizations_admins_path, method: :get do %>
    <%= text_field_tag :search, @search_term, placeholder: "Search...", class: 'form-control' %>
  <% end %>
  <table class="table table-striped" style="margin-top: 5px; overflow-y: auto; ">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Staff</th>
      <th scope="col">Managers</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @organizations.each_with_index do |org, index| %>
      <tr>
        <td><b> <%= index + 1 %></b></td>
        <td><%=link_to org.id  %></td>
        <td><%= org.title  %></td>
        <td><%= org.status %></td>
        <td><%=org.staffs.size  %></td>
        <td>
          <%=org.managers.size %> <%= link_to organization_managers_path(org), style: "color: black;" do %>
            <i class="icon fas fa-user-plus" title="Add manager to organization"></i>
          <% end %>
        </td>
        <td>
          <%= link_to organization_path(org), style: "color: black;" do %>
            <i class="icon fas fa-tv"></i>
          <% end %>
          <%= link_to edit_organization_path(org ),  style: "color: black;" do %>
            <i class="icon far fa-edit"></i>
          <% end %>
          <%= link_to organization_path(org),
                      method: :delete, data: { confirm: 'Are you sure?' }, style: "color: black;" do %>
            <i class="icon fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<hr>


