<h3>New Block for course</h3>

<%= form_with(model: @course_block, url: [@course, @course_block]) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>

<% end %>
<div> Choose
</div>
<br>
<%#=link_to 'Add new Lecture to Course', new_course_course_block_lecture_path(@course_block) %>