<%= form_for @user, html: {multipart: true} do |f| %>

  <div >
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: 'form-control' %>

    </div>

    <div class="form-group">
      <%= f.label :Avatar %><br>
      <div class="input-group-prepend">
        <%= f.file_field :avatar %>
      </div>
    </div>

    <br>
    <div class="actions">
      <%= f.submit class: 'btn btn-success' %><br>
    </div>

  </div>
  <hr color="#ffffff">
<% end %>