<h4>Your account</h4>

<%=image_tag @user.avatar.url(:thumb), class: 'img-show' if  @user.avatar?%><br>
First name: <%= @user.first_name %><br>
Last name: <%= @user.last_name %><br>
Email: <%= @user.email %><br>
ID: <%= @user.id%><br>
Role: <%= Role.where(:id => @user.role_id).pluck(:name).first %>



<br><br><br>
<button><%= link_to "Create course", new_course_path %></button>




<table>
  <%#binding.pry %>
  <% @user_courses.each do |course| %>
    <tr>
      <td><%= course.title %> | <%=link_to 'Show',course_path(course) %></td>

    </tr>
  <% end %>

</table>