<h2>New Theme</h2>

<%= form_with(model: @lecture_block, url: [@course, @lecture, @lecture_block]) do |f|%>
  <div>
    <%=f.label :title%>
    <%=f.text_field :title %>
  </div>
  <br>
  <div>
    <%=f.label :content%>
    <%=f.rich_text_area :content %>
  </div>

  <%= f.submit %>
<%end %>