<% @courses.order(created_at: :asc).each do |course| %>
  <% if course.status == 'ready' %>
    <article class="course">
      <div>
        <%= link_to course_path(course) do %>
          <%= image_tag course.image.url(:course), class: 'img-thumbnail img-show' if course.image? %>
        <% end %>
      </div>
      <selection class="course clearfix">
        <div class="course-title">
          <%= link_to course.title, course_path(course), style: 'color: black;' %>
        </div>
        <div class="summary"> <%= course.description %> </div>
      </selection>

      <slection class="course">
        <div align="right">
          <div class="course">
            <%= link_to 'Show', course_path(course), class: "btn btn-outline-info btn-sm" %>
          </div>

          <% if user_signed_in? && subscribe?(current_user, course) %>
            <%#= link_to 'Subscribe', subscribe_course_path(course), method: :post %>
          <% else %>
            <div class="course">
              <%= link_to 'Subscribe', subscribe_course_path(course), method: :post, class: "btn btn-outline-success btn-sm" %>
            </div>
          <% end %>

          <% if can? :destroy, course %>
            <div class="course">
              <%= button_to 'Destroy', course_path(course), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      </slection>

    </article>
  <% end %>
<% end %>
<br>
<hr>