<div class="row pb-3">
  <div class="col pr-0">
    <div class="card container" style="min-height:460px">
      <br>
      <h4>Activity</h4>
      <% @started_courses.each do |s_course| %>
        <div class="card m-1">
          <div class="card-body">
            <%= link_to course_path(s_course) do %>
              <%= image_tag s_course.course.image.url(:course), class: 'img-thumbnail img-show-course' if s_course.course.image? %>
              <%= image_tag ("course-default.png"), class: 'img-thumbnail img-show-course' if !s_course.course.image? %>
            <% end %>
            <%= link_to s_course.course.title, course_path(s_course.course), style: 'color: black;' %>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%= s_course.progress %>%;" aria-valuenow="#{<%= s_course.progress %>}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "more...", achievements_path, style: "color: black;" %>
    </div>
  </div>

  <div class="col">
    <div class="card container" style="min-height:460px">
      <br>
      <h4>Organization</h4>
      <% @org_courses.each do |course| %>
        <div class="card flex-row flex-wrap m-1">
          <div class="card-body">
            <%= link_to course_path(course) do %>
              <%= image_tag course.image.url(:course), class: 'img-thumbnail img-show-course' if course.image? %>
              <%= image_tag ("course-default.png"), class: 'img-thumbnail img-show-course' if !course.image? %>
            <% end %>
            <div>
              <%= link_to course.title, course_path(course), style: 'color: black;' %>
            </div>
            <div class="summary"> <%= course.description %> </div>
            <div align="right" style="font-size: smaller">Rating:<%= course.rating %></div>
          </div>
        </div>
      <% end %>
      <div align="right"><%= link_to "more...", publications_courses_path, style: "color: black;" %></div>
      <br>
    </div>
  </div>

</div>

<div class="row pd-3">
  <div class="col pr-0">
    <div class="card container" style="min-height:460px; height: 300px; overflow-y: scroll;">
      <br><h4>Popular</h4>
      <% @rating_courses.each do |course| %>
        <div class="card flex-row flex-wrap m-1">
          <div class="card-body">
            <%= link_to course_path(course) do %>
              <%= image_tag course.image.url(:course), class: 'img-thumbnail img-show-course' if course.image? %>
              <%= image_tag ("course-default.png"), class: 'img-thumbnail img-show-course' if !course.image? %>
            <% end %>
            <div>
              <%= link_to course.title, course_path(course), style: 'color: black;' %>
            </div>
            <div class="summary"> <%= course.description %> </div>
            <div align="right" style="font-size: smaller">Rating:<%= course.rating %></div>
          </div>
        </div>
      <% end %>
      <div align="right"><%= link_to "more...", publications_courses_path, style: "color: black;" %></div>
      <br>
    </div>
  </div>
  <div class="col">
    <div class="card container" style="min-height:460px; height: 300px; overflow-y: scroll;">
      <br><h4>Courses</h4>
      <% @new_courses.each do |course| %>
        <div class="card flex-row flex-wrap m-1">
          <div class="card-body">
            <%= link_to course_path(course) do %>
              <%= image_tag course.image.url(:course), class: 'img-thumbnail img-show-course' if course.image? %>
              <%= image_tag ("course-default.png"), class: 'img-thumbnail img-show-course' if !course.image? %>
            <% end %>
            <div>
              <%= link_to course.title, course_path(course), style: 'color: black;' %>
            </div>
            <div class="summary"> <%= course.description %> </div>
            <div align="right" style="font-size: smaller">Rating:<%= course.rating %></div>
          </div>
        </div>
      <% end %>
      <div align="right"><%= link_to "more...", publications_courses_path, style: "color: black;" %></div>
      <br>
    </div>
  </div>
</div>
<hr>





