

<table class="table table-hover">
  <thead>
  <tr bgcolor="#85C1E9">
    <th scope="col"><b><%= link_to new_course_path, class: 'btn btn-sm btn-create', title: "Create new course" do %>
        &#10010
      <% end %>
        </b></th>
    <th scope="col"><%= link_to 'Course', :sort => 'title', style: "color: black;" %></th>
    <th scope="col"><%= link_to 'Status', :sort => 'status', style: "color: black;" %></th>
    <th scope="col" align="center">Lectures</th>
    <th scope="col" align="center">Tests</th>
    <th scope="col" align="center">Followers</th>
    <th scope="col" align="center"><%= link_to 'Rating', :sort => 'rating', style: "color: black;" %></th>
    <th scope="col" align="center">Publish</th>
    <th scope="col" align="center">Edit</th>
  </tr>
  </thead>

  <tbody>
  <% if @courses.present? %>
  <% @courses.each_with_index do |course, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td> <%= link_to course.title, course_path(course), style: 'color: black;' %></td>
      <td align="center"><%= course.status %></td>
      <td align="center"><%= course.lectures.size %></td>
      <td align="center"><%= course.testings.size %></td>
      <td align="center">
        <i class="icon" data-toggle="modal" data-target="#myModalDescription" title="Followers">
          <%= course.achievements.size %>
        </i>
        <div class="modal" id="myModalDescription">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Followers</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body" style=" margin-top: 5px; max-height: 20em; overflow-y: scroll;">

                  <%course.achievements.each do |follower| %>
                    <div class="card"><%=follower.user.email %></div>
                  <% end %>

              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </td>
      <td align="center"><%= course.rating %></td>
      <td align="center">
        <% if course.status == 'draft' %>
          <%=link_to 'To publish ' , request_to_course_path(course),
                     method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-publish' %>
        <%else %>
             &#10004
      <% end %>
      </td>
      <td>
        <% if course.status == 'draft' %>
          <%=link_to 'Edit', edit_course_path(course), class: 'btn btn-editor' %>
        <%else %>
          &#10006
        <% end %>
      </td>

    </tr>
  <% end %>

  <%else %>
    <tr align="center">
      <td colspan="8">You don't any origins courses</td>
    </tr>
  <% end %>
  </tbody>
</table>
