<div>
  Title: <%= @course.title %><br>
  Description: <%= @course.description %><br>
  Status: <%= @course.status %><br>
  Type: <%= @course.type_course %><br>
</div>
<br>
<%# binding.pry %>
<%=link_to 'Create new lecture of Course', new_course_lecture_path(@course)%>
<br>
<div>
  <% @course.course_blocks.each do |block| %>
    <div>
      <%= block.title%> | <%= link_to 'Show', course_lecture_path(@course, block) %>
      <br>
    </div>
  <%end %>
</div>