<div class="row pb-3">
  <div class="col-11">
    <%= link_to 'Back to Main', courses_path, class: "btn btn-outline-info btn-sm", style: "color: black;" %>
  </div>
  <% if can? :update, @course %>
    <div class="col-1" align="right">
      <%= link_to edit_course_path(@course), class: "btn-outline-warning btn-sm", style: "color: black; text-decoration: none; " do %>
        &#9999
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <%= image_tag @course.image.url(:course), class: 'img-thumbnail img-show' if @course.image? %>
  <%= image_tag ("course-default.png"), class: 'img-thumbnail img-show' if !@course.image? %>
  <h1><%= t('courses.title') %>: <%= @course.title %></h1>
  <div class="description">
    <%= @course.description %>
  </div>
  <div class="course-info">
    <%= t('courses.type_course') %>: <%= @course.type_course %>
    <% if @course.type_course == 'individual' && (can? :update, @course) %>
      <%= link_to 'Add followers', course_individuals_path(@course) %>
    <% end %>
    <% if @course.type_course == 'private' && (can? :update, @course) %>
      <%= link_to 'Add to organization', course_org_courses_path(@course) %>
    <% end %>
    <br>
    <% if (can? :update, @course) %>
    <%= link_to t('courses.authors'), authors_course_path(@course) %>:
    <%else %>
      <%= t('courses.authors') %>:
    <%end %>
    <% @course.users.each do |author| %>
      <%= author.email %>
    <% end %>
  </div>
</div>
<br>
<%# binding.pry %>
<% if can? :update, @course %>
  <div align="right">
    <%= link_to new_course_lecture_path(@course), class: "btn btn-info btn-sm" do %>
      <%= I18n.t('courses.lectues.new.title') %> &#10010
    <% end %>
  </div>
<% end %>
<br>
<% if subscribe?(current_user, @course) || (can? :update, @course) %>
  <% if @course.lectures.size > 0 %>
    <h5><%= t('courses.lectues.titles') %>:</h5>
    <div data-controller="drag" data-drag-url="course_id/lectures/id/move">
      <% @course.lectures.by_position.each do |block| %>
        <div data-id="<%= block.id %>" data-course_id="<%= @course.id %>" class="card card-body mt-1" id="lecture-<%= block.id %>">
          <div class="row">
            <div class="col-11 pl-2 pt-2">
              <%= link_to block.title, course_lecture_path(@course, block), :locals => { id: dom_id(block), course_id: dom_id(@course) }, class: 'lecture' %>
            </div>
            <% if @course.users.include? current_user %>
              <div class="col-1 pt-2 pb-0" align="right">
                <%= link_to course_lecture_path(@course, block), method: :delete, data: { confirm: 'Delete the lecture?' },
                            style: "text-decoration: none;", remote: true do %>
                  <p>&#128465</p>
                <% end %>
              </div>
            <% end %>
            <% if @readeds.present? %>
              <div class="col-1 pt-2 pb-0" align="right">
                <% @readeds.each do |r| %>
                  <% if r.user_id == @user.id && r.lecture_id == block.id %>
                    &#10004
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <br><br><br>
  <% end %>
  <% if can? :update, @course %>
    <div align="right">
      <%= link_to new_course_testing_path(@course), class: "btn btn-info btn-sm" do %>
        <%= I18n.t('courses.testings.new.title') %> &#10010
      <% end %>
    </div>
  <% end %>
  <% if @course.testings.size > 0 %>
    <h5><%= t('courses.testings.titles') %>:</h5>
    <ul class="list-group">
      <% @course.testings.each do |test| %>
        <% if @course.users.include? current_user %>
          <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 1em; margin-top: 5px;" id="test-<%= test.id %>">
            <%= link_to test.title, course_testing_path(@course, test), style: "color: black;" %>
            <%= link_to course_testing_path(@course, test), method: :delete, data: { confirm: 'Delete the test?' },
                        style: "text-decoration: none;", remote: true do %>
              <p>&#128465</p>
            <% end %>
          </li>
        <% else %>
          <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 1em; margin-top: 5px;" id="test-<%= test.id %>">
            <% if testing_progress(test) > 0 %>
              <%= test.title %>
            <% else %>
              <%= link_to test.title, pass_testing_course_testing_path(@course, test), style: "color: black;" %>
            <% end %>
            <% if user_signed_in? %>
              <div>
              <%= link_to 'Result: ', course_testing_path(@course, test), style: "color: grey;" %><%= testing_progress(test) %>%
              <%= link_to retake_course_testing_path(@course,test), class: 'btn btn-info btn-sm', method: :delete, data: { confirm: 'Do you want retake the Test?' } do %>
                <span class="glyphicon glyphicon-refresh" aria-hidden="true">Retake</span>
                <% end %>
              </div>
            <% end%>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= link_to 'Subscribe', subscribe_course_path(@course), method: :post, class: "btn btn-success btn-sm" %>
<% end %>
<hr>

