<%= javascript_pack_tag 'change_order.js' %>

<div align="right">
  <%= link_to 'Back to Main', courses_path %>
  | <%= link_to 'Edit', edit_course_path(@course) %>
</div>
<div>
  <%= image_tag @course.image.url(:course), class: 'img-thumbnail img-show' if @course.image? %>
  <h1><%= @course.title %></h1>
  <div class="description"> <%= @course.description %></div>
  Status: <%= @course.status %><br>
  Type: <%= @course.type_course %><br>
</div>
<br>
<%# binding.pry %>
<%= link_to 'Create new lecture of Course', new_course_lecture_path(@course) %>
<br>

<div>
  <ul id="blocks-list">
<% @course.course_blocks.each do |block| %>
      <li>
        | id: <%= block.id %> | <%= block.order %>
        |<%= link_to block.title, course_lecture_path(@course, block) %>
        | <%= link_to 'Edit', edit_course_lecture_path(@course, block) %>
      </li>
<% end %>
  </ul>
</div>



<!--<div id="blocks-list" class="list-group" data-url=" <%#= sort_course_lectures_path(@course) %>">-->
  <%# @course.course_blocks.each do |block| %>
<!--    | id: <%#= block.id %> | <%#= block.order %>|<%#= link_to block.title, course_lecture_path(@course, block), id: dom_id(block) %>-->
<!--    | <%#= link_to 'Edit', edit_course_lecture_path(@course, block) %>-->
  <%# end %>
<!--</div>-->
