<h3>My organizations:</h3>
<div >
  <table class="table table-striped" style="margin-top: 2em; overflow-y: auto; ">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Staff</th>
      <th scope="col">Managers</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @organizations.each_with_index do |org, index| %>
      <tr>
        <td><b> <%= index + 1 %></b></td>
        <td><%=link_to org.id  %></td>
        <td><%= org.title  %></td>
        <td><%= org.status %></td>
        <td><%=org.staffs.size  %></td>
        <td><%=org.managers.size %></td>
        <td>
          <%= link_to organization_path(org), style: "color: black;" do %>
            <i class="icon fas fa-tv"></i>
          <% end %>
          <%= link_to edit_organization_path(org ),  style: "color: black;" do %>
            <i class="icon far fa-edit"></i>
          <% end %>
          <%= link_to organization_path(org),
                      method: :delete, data: { confirm: 'Are you sure?' }, style: "color: black;" do %>
            <i class="icon fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<hr>