<div class="row pb-3">
  <div class="col-11">
    <%= link_to 'Back to Main', courses_path, class: "btn btn-outline-info btn-sm", style: "color: black;" %>
  </div>
  <% if can? :update, @organization %>
    <div class="col-1" align="right">
      <%= link_to edit_organization_path(@organization), class: "btn-outline-warning btn-sm", style: "color: black; text-decoration: none; " do %>
        &#9999
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <%= image_tag @organization.image.url(:organization), class: 'img-thumbnail img-show' if @organization.image? %>
  <%= image_tag ("organization-default.jpeg"), class: 'img-thumbnail img-show-course' if !@organization.image? %>
  <h1>Organization: <strong><%= @organization.title %></strong></h1>
  <div class="description">
    <%= @organization.description %>
  </div>
  <div class="row">

  </div>
  <div class="course-info">
      Creator:
    <%= @organization.user.email  %>
  </div>
  <div class="course-info">
    Managers:
    <% @managers.each do |manager|%>
      <%= manager.user.email %>
    <% end %>
    <%= link_to organization_managers_path(@organization), style: "color: black;" do %>
      <i class=" icon fas fa-th-list"></i>
    <% end %>
  </div>

</div>

<div class="row pt-2 ml-1">
  <div class="col-4" >
    Staff
    <% if @organization.user_id == current_user.id %>
      <%= link_to organization_staffs_path(@organization), style: "color: black;" do %>
         <i class=" icon fas fa-th-list"></i>
      <% end %>
    <%end %>
    <div style="min-height:100px; height: 300px; overflow-y: scroll;">
    <% @staffs.each do |staff|%>
      <div class="card pt-1 pl-1">
        <i><%= staff.email %></i>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-8">
    Courses
  </div>
</div>
<hr>