<!DOCTYPE html>
<html>
<head>
  <title>ELearning</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <%=favicon_link_tag asset_path('favicon.png') %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
</head>

<body>
<div class="w-70 px-0  course-container">
<header class="navbar navbar-expand-lg navbar-light" >
  <h5 class="mr-md-auto me-md-0"><%= link_to image_tag("favicon.png",:alt =>"guitars",style:'height:2vw;width:2vw;', class: "rounded-circle"), courses_index_path, style: 'color: black;' %>
    <%= link_to "Learning", courses_index_path, style: 'color: black;' %></h5>

  <%if user_signed_in? %>
    <%# if current_user.role_id == 2 %>
    <span class="mr-md-auto me-md-0" >
            <%= link_to 'Admin Panel', admins_path,  class: 'btn btn-info btn-nav-bar' %>
  </span>
      <% #end %>
    <span class="p-1 text-dark">
            <%= link_to 'Achievements', achievements_path,  class: 'btn btn-info btn-nav-bar' %>
  </span>
    <span class="p-1 text-dark">
            <%= link_to 'My Courses', my_courses_courses_path,  class: 'btn btn-info btn-nav-bar' %>
  </span>
    <span class="p-1 text-dark">
            <%= link_to current_user.email, user_path(current_user),  class: 'btn btn-info btn-nav-bar' %>
  </span>
    <span class="p-1 text-dark">
            <%= link_to "Log out ", destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-nav-bar' %></span>

    <% else %>
  <span class="p-1 text-dark">
             <%= link_to "Sign up ", new_user_registration_path, class: 'btn btn-success btn-nav-bar' %></span>
  <span class="p-1 text-dark">
            <%= link_to "Login ", new_user_session_path, class: 'btn btn-success btn-nav-bar' %></span>

    <%end %>
</header>

<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->
</div>
<div class="w-70 bg-light">
  <div class="course-container">
    <div class="row" >
      <div class="col-md-12">
        <% flash.each do |name, message|%>
          <div class="alert alert-<%= name %> alert-dismissible fade show">
            <%= message %>
          </div>
        <%end %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>
</body>
</html>
