<!DOCTYPE html>
<html>
<head>
  <title>ELearning</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="w-70 px-0  course-container">
<header class="navbar navbar-expand-lg navbar-light" >
  <h5 class="mr-md-auto me-md-0"><%= link_to "eLearning", courses_index_path %></h5>

  <%if user_signed_in? %>
    <span class="p-1 text-dark">
            <%= link_to current_user.email, user_path(current_user) %>
  </span>
    <span class="p-1 text-dark">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %></span>

    <% else %>
  <span class="p-1 text-dark">
             <%= link_to "Sign up", new_user_registration_path %></span>
  <span class="p-1 text-dark">
            <%= link_to "Sign in", new_user_session_path %></span>

    <%end %>
</header>

<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->
</div>
<div class="w-70 bg-light">
  <div class="course-container">
    <%= yield %>
  </div>
</div>
</body>
</html>
